In [48]:
import pandas as pd
import json

In [165]:
df = pd.read_csv("./adelaide/adelaide.csv")
df.columns

FileNotFoundError: [Errno 2] No such file or directory: './adelaide/adelaide.csv'

In [159]:
df

,females_age_75_79,persons_age_85_plus,females_age_15_19,males_age_80_84,persons_age_25_29,gccsa_code16,males_age_50_54,females_age_45_49,persons_age_15_19,state_name,...,persons_age_0_4,gccsa_name16,females_age_10_14,males_age_65_69,males_age_70_74,sa4_code16,males_age_0_4,males_age_35_39,sa3_name16,males_age_10_14
0,98,133,135,74,952,3GBRI,193,138,272,Queensland,...,245,Greater Brisbane,134,116,121,303,119,286,Mt Gravatt,113
1,91,122,304,69,592,3GBRI,290,268,631,Queensland,...,384,Greater Brisbane,280,189,167,301,218,154,Capalaba,277
2,0,0,0,0,10,3GBRI,18,0,0,Queensland,...,0,Greater Brisbane,0,9,5,302,0,35,Nundah,0
3,59,40,251,30,360,3GBRI,263,210,507,Queensland,...,379,Greater Brisbane,227,164,96,310,207,154,Ipswich Inner,255
4,56,90,90,29,191,3GBRI,95,78,194,Queensland,...,274,Greater Brisbane,111,80,36,310,135,87,Ipswich Inner,143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,309,322,1577,157,2426,3GBRI,1385,1535,3208,Queensland,...,3062,Greater Brisbane,1797,460,391,314,1601,1480,North Lakes,1776
232,119,166,370,79,648,3GBRI,351,336,763,Queensland,...,728,Greater Brisbane,380,285,194,314,372,423,Strathpine,390
233,99,65,203,46,452,3GBRI,223,193,440,Queensland,...,532,Greater Brisbane,203,137,136,314,281,262,Strathpine,226
234,112,79,298,51,555,3GBRI,362,329,696,Queensland,...,545,Greater Brisbane,370,207,154,314,272,272,Strathpine,345
235,188,166,412,96,952,3GBRI,449,480,845,Queensland,...,903,Greater Brisbane,461,285,288,314,463,526,Strathpine,508

In [160]:
# df = df[[" sa3_name16", " males_age_0_4", " males_age_5_9", " males_age_10_14", " males_age_15_19", " males_age_20_24", " males_age_25_29", " males_age_30_34", " males_age_35_39", " males_age_40_44", " males_age_45_49", " males_age_50_54", " males_age_55_59", " males_age_60_64", " males_age_65_69", " males_age_70_74", " males_age_75_79", " males_age_80_84", " males_age_85_plus", " females_age_0_4", " females_age_5_9", " females_age_10_14", " females_age_15_19", " females_age_20_24", " females_age_25_29", " females_age_30_34", " females_age_35_39", " females_age_40_44", " females_age_45_49", " females_age_50_54", " females_age_55_59", " females_age_60_64", " females_age_65_69", " females_age_70_74", "females_age_75_79", " females_age_80_84", " females_age_85_plus"]]
df = df[[" sa3_name16", " males_total", " females_total"]]
for i, row in df.iterrows():
    row[' sa3_name16'] = row[' sa3_name16'].split()[0]
    df.iloc[i] = row

/Users/hongzhi/opt/miniconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [161]:
df

     sa3_name16   males_total   females_total
0            Mt          3061            3393
1      Capalaba          3981            3962
2        Nundah           144              56
3       Ipswich          3114            3030
4       Ipswich          1510            1524
..          ...           ...             ...
231       North         18462           19284
232  Strathpine          5282            5414
233  Strathpine          3217            3163
234  Strathpine          4428            4509
235  Strathpine          6778            6751

[236 rows x 3 columns]

In [162]:
df_group = df.groupby(" sa3_name16", as_index=False).sum()

In [163]:
all_pop = {}

for i, row in df_group.iterrows():
    suburb = row[' sa3_name16']
    population = {}
    for name in df_group.columns[1:]:
        value = row[name]
        name = name.strip()
        name = name.replace('_', ' ')
        population[name] = value
    all_pop[suburb] = population

with open('adelaide.json', 'w') as f:
    f.write(json.dumps(all_pop))

In [150]:
name.replace('_', ' ')

'females total'